*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
.bg-primary{
    background-image: url(../assets/img/sky.jpg);
    background-size: Cover ;
    background-color: black !important
}

body{
    font-family: 'Noto sans TC', sans-serif;
}

p.redred{   
    padding:10px 150px 0px 120px;
    color: rgb(245, 245, 245);
    font-size: 40px;
    text-align: center;
    border: 10px solid;
    border-radius: 15px;
    margin: 0px 0px 100px 50%;
    border-color: hsl(145, 60%, 55%);
    font-family: 'Noto serif TC','sans-serif';
    background-image: url(../assets/img/bg.jpg);
    background-repeat:no-repeat;
    background-position: center;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }

.blueblue{
    color:blue;
}

.expedu_icon {
  color:blue
}

.expedu_icon:hover{
    background-color: blue;
    color: white;
}

ol.list01{
    list-style-type:upper-roman;
}
ol.list02{
    list-style-type:square;
}
ol.list01>li:hover{
    background-color:hsl(162, 69%, 28%);
    color: brown;
}
table.table01{
    width: 80%;
    background-color:rgb(96, 211, 176);
}
table.table01 th{
    border:1px solid #2a5d44;
    text-align: center;
}
table.table01 td {
    border:1px solid #2a5d44;
    text-align: center;
}
table.table01 tr:nth-child(even) {
    background-color: #5f9ea0;
}
table.table01 tr:nth-child(odd) {
    background-color: burlywood ;
}