*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
.bg-primary{
    background-image: url(../assets/img/sky.jpg);
    background-color: black !important
}

body{
    font-family: 'Noto sans TC', sans-serif;
}

p.redred{   
    color:white;
    border: 10px solid;
    border-style:outset;
    border-color:aqua;
    background-image: url(../assets/img/bg.jpg);   
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
    background-color: palegreen;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }

.blueblue{
    color:blue;
}

.expedu_icon {
  color:blue
}

.expedu_icon:hover{
    background-color: blue;
    color: white;
}