*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: 'Noto sans TC', sans-serif;
}

p.redred{   
    color:#78533E;
    font-size: 32px;
    text-align: left;
    text-indent: 2em;
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }

.blueblue{
    color:blue;
}

.expedu_icon {
  color:blue
}

.expedu_icon:hover{
    background-color: blue;
    color: white;
}